body {
    margin: 0;
    padding: 0;
    background-color: yellow;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.boxes {
    display: flex;
    flex-direction: column; 

}

.box {
    width: 200px;
    height: 45px;
    background-color: white;
    border-right: 5px solid black;
    margin-bottom: 10px; 
}

.content {
    flex-grow: 1;
    padding: 20px;
}

h1 {
    color: purple;
}

p {
    color: purple;
}
